* text=auto eol=lf
*.whl binary
*.png binary
*.jpg binary
*.ai binary
cases/software-engineering/C11/se-dependency-upgrade-v1/repository/worktree/** binary
cases/software-engineering/C12/se-dependency-upgrade-v1/repository/worktree/** binary
cases/software-engineering/C13/se-dependency-upgrade-v1/repository/worktree/** binary
cases/software-engineering/C21/se-dependency-upgrade-v1/repository/worktree/** binary
cases/software-engineering/C22/se-dependency-upgrade-v1/repository/worktree/** binary
cases/software-engineering/C31/se-dependency-upgrade-v1/repository/worktree/** binary
